/* :root {
    --medium-purple: #9879e9;
    --white: #fff;
    --white-lilac: #e8e8e8;
    --east-bay: #455970;
} */
html,
body {
  font-size: 10px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
